<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Boldness v.2   
Description: A two-column, fixed-width design with simple color scheme.
Version    : 1.0
Released   : 20120430
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Insurance System with Tracking Manager</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.slidertron-1.0.js"></script>
<script type="text/javascript" src="jquery.dropotron-1.0.js"></script>
<script type="text/javascript" src="jquery.poptrox-1.0.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><span> INSURANCE SYSTEM WITH </span></h1>
				<h1><span>TRACKING MANAGER</span>		  </h1>
		  </div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu-wrapper">
		<ul id="menu">
			<li class="current_page_item"><a href="#"><span>  Home  </span></a></li>
			<li> <span>   login  </span>

			  <ul>
			    <li class="first"> Customer Login</li>
					<li>Employee Login </li>
					<li class="last"></li>
			  </ul>
		  </li>
			<li><span>Links</span>
				<ul>
					<li class="first"> <a href="index">Loan Calculator</a> </li>
				</ul>
			</li>
			
            <li><a href="#"><span>About</span></a></li>
			
		</ul>
		<script type="text/javascript">
			$('#menu').dropotron();
		</script>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			<div class="contentbg">
				<div id="slider">
					<div class="viewer">
						<div class="reel">
							<div id="gallery">
								<div class="slide"> <a href="images/health.jpg"><img src="images/health.jpg" width="590" height="300" alt="" /></a> </div>
								<div class="slide"> <a href="images/house.jpg"><img src="images/house.jpg" width="590" height="300" alt="" /></a> </div>
								<div class="slide"> <a href="images/life-insurance1_1.jpg"><img src="images/life-insurance1_1.jpg" width="590" height="300" alt="" /></a> </div>
                                
								<div class="slide"> <a href="images/vehicle.jpg"><img src="images/vehicle.jpg" width="590" height="300" alt="" /></a> </div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
				$('#slider').slidertron({
					viewerSelector: '.viewer',
					reelSelector: '.viewer .reel',
					slidesSelector: '.viewer .reel .slide',
					advanceDelay: 3000,
					speed: 'slow'
				});
			</script>
				<script type="text/javascript">
				$('#gallery').poptrox({
					overlayColor: '#222222',
					overlayOpacity: 0.75,
					popupCloserBackgroundColor: '#560969',
					popupBackgroundColor: '#FFFFFF',
					popupTextColor: '#aaaaaa',
					popupPadding: 20
				});
			</script>
				<div class="post">
				  <p class="meta">&nbsp;</p>
					<div class="entry">
                  <div id="Life Insurance">  <h2 class="title">Life Insurance</h2></div>
                    <p>In today&rsquo;s uncertain world, there could be calamity at every  step of the life. It is up to you to ensure that your family stays protected  always.ISTM Plans helps you do exactly the same. You  have a wide range of options to choose a plan from. Right from limited period  plans to lifetime protection plans, you can opt for the one that suits your  lifestyle.While we understand that nothing can compensate for the loss  of a life, we intend to provide you the peace of mind. Investing in ISTM  Protection Plans would mean your family&rsquo;s future is in safe hands.</p>
</div>
				</div>
				<div class="post">
				  <div id="Motor Insurance"><h2 class="title">Motor  Insurance</h2></div>
				  <div class="entry">
				    <p>Your car is not only a means of transport, but it's also a  valued possession in which you and your family can travel together. Any  untoward incident, loss or theft would inconvenience you and also cause you  stress. 'Drive forward' with the assurance of ISTM Car Insurance. Motor  Insurance is mandatory in India, so go ahead and buy a ISTM Motor Insurance  policy and drive ahead with no tension! ISTM Motor Insurance not only  offers a comprehensive motor insurance for your car, but also offers post-accident  assistance. In addition to this, two wheeler insurance is also offered for  bikes and scooters. Two wheelers are the life-line of any family and any loss,  damage or theft could leave you stranded and helpless. Not only does ISTM  Motor Insurance offer coverage for any loss or liabilities, but it also has a  comprehensive plan that covers third party liability.</p>
</div>
				</div>
				<div class="post">
					<div id="House Insurance"><h2 class="title">House Insurance</h2></div>
					<div class="entry">
					  <p><strong>ISTM  Householder's Package Policy</strong><br />
					  </p>
                      <p><img width="7" height="7" src="index_clip_image001.jpg" alt="Description: http://www.reliancegeneral.co.in/SiteCollectionImages/articles/dot.jpg" />Covers burglary &amp; Housebreaking<br />
                        <img width="7" height="7" src="index_clip_image001_0000.jpg" alt="Description: http://www.reliancegeneral.co.in/SiteCollectionImages/articles/dot.jpg" />Covers Domestic electrical appliances<br />
                        <img width="7" height="7" src="index_clip_image001_0001.jpg" alt="Description: http://www.reliancegeneral.co.in/SiteCollectionImages/articles/dot.jpg" />Covers structure &amp; contents of house                      </p>
                      <p><strong>Key Advantages - Home Insurance</strong><br/>
  &quot;Home sweet home  be it ever so humble&quot; is true for everyone. Home is one of your biggest  investments. Get this biggest investment protected with ISTM Householders'  Package Policy which is tailor made to insure your individual home and prized  possessions.<br />
                      ISTM Householders'  Package Policy gives you comprehensive insurance cover for your home and its  contents at a reasonable insurance premium along with added incentives as below</p>
                      <ul type="disc">
                        <li>The policy covers both structure and /or contents of       your home</li>
                        <li>It covers your home against burglary, fire, terrorism</li>
                        <li>Within the house it will provide cover for valuables,       electronics, and just about anything you wish</li>
                      </ul>
                    </div>
				</div>
                <div class="post">
				  <div id="Health Insurance"><h2 class="title">Health Insurance</h2></div>
				  <div class="entry">
				    <p>Health is Wealth! At ISTM General Insurance we believe  that your health is the most important asset you possess. Yet when an unexpected  illness or accident occurs, we ensure that you do not need to worry about  finances. We offer a variety of health insurance policies that cover you for  hospitalization expenses for illness, treatment and recuperation. Our health  insurance is designed to be simple and provide the widest coverage. Our network  of hospitals and agents spans the entire country and provides cashless  facilities across the nation. We believe that every family should be covered by  an insurance policy. Health insurance in India is growing rapidly so why wait,  join the ISTM family and be assured with our customized health insurance  plans. This is the best gift you can give your family! Get covered and be  assured.</p>
</div>
				</div>
				<div style="clear: both;">&nbsp; </div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar-bg">
			<div id="sidebar">
				<ul>
					<li>
						<h3>Welcom to ISTM</h3>
						<p>Our company provides Health Insurance,Life Insurance,House Insurance and Motor Insurance policies</p>
					</li>
					<li>
						<h3>Quick Links</h3>
						<ul>
							<li><a href="#Life Insurance">Life Insurance </a></li>
							<li><a href="#Motor Insurance">Motor Insurance </a></li>
							<li><a href="#House Insurance">House Insurance</a></li>
							<li><a href="#Health Insurance">Health Insurance</a></li>
						</ul>
					</li>
				
					
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>2013. ISTM.com. All rights reserved. Design by <a href="http://www.TECH_CRUNCHERS.org/">&copy Tech Crunchers</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
