<div class="container">

<div class="page-header">
    <h1 class="text-center"><small>Designed as part of Cloud Computing course (2013-14), SDMCET Dharwad</small></h1>
</div>
<div class="container follow-us-container">
    <div class="text-center follow-us">
        Thanks to:
    </div>
    <br />
    <div class="text-center">
        <h4>Mayur Patil, Dept. of CSE</h4>
    </div>
</div>

<!-- Social Icon Links - START -->
<div class="container follow-us-container">
    <div class="text-center follow-us">
        Follow
    </div>
    <br />
    <div class="text-center">
        <a class="fa fa-facebook social-icon" href="https://www.facebook.com/sachin.kariyattin" target="_blank"></a>
        <a class="fa fa-linkedin social-icon" href="https://in.linkedin.com/in/sachinkariyattin" target="_blank"></a>
        <a class="fa fa-youtube social-icon" href="https://www.youtube.com/channel/UCL-Cxcv3_j0vk36AJbv3NXA" target="_blank"></a>
        <a class="fa fa-github social-icon" href="https://github.com/sachinkariyattin" target="_blank"></a>
    </div>
</div>

<style>
    .follow-us-container
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .follow-us
    {
        font-size: 32px;
        color: #777;
    }

    .social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid #777;
        border-radius: 50%;
        color: #777;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }
</style>

<!-- Social Icon Links - END -->

</div>